
@{
    ViewData["Title"] = "Colaboradores";
}

<link rel="stylesheet" href="~/css/colaboradores.css" />

<div class="container-fluid py-4 bg-light">
    <div class="container text-center">
        <h1 class="colaboradores-title">Nuestros Colaboradores</h1>
        <p class="colaboradores-subtitle">Conoce al equipo que hace posible nuestro trabajo diario.</p>
    </div>
</div>

<div class="container py-5">
    <div class="row">
        @* <------------------------------------------> *@
        <div class="col-md-4 mb-4">
            <div class="card colaborador-card">
                <img src="~/img/colaboradores/imagenUsuario.png" class="card-img-top" alt="Colaborador 1">
                <div class="card-body">
                    <h5 class="card-title">Próximamente</h5>
                    <p class="card-role">Colaboradores</p>
                    <p class="card-text">
                        Muy pronto podrás conocer a nuestro talentoso equipo de colaboradores. Cada uno de ellos juega un papel fundamental en el éxito de nuestros proyectos y estamos emocionados de compartir sus historias y roles con ustedes.
                    </p>
                    <div class="social-icons">
                        <a href="#" class="disabled"><i class="bi bi-linkedin"></i></a>
                        <a href="#" class="disabled"><i class="bi bi-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
        @* <------------------------------------------> *@
        <div class="col-md-4 mb-4">
            <div class="card colaborador-card">
                <img src="~/img/colaboradores/imagenUsuario.png" class="card-img-top" alt="Colaborador 1">
                <div class="card-body">
                    <h5 class="card-title">Próximamente</h5>
                    <p class="card-role">Colaboradores</p>
                    <p class="card-text">
                        Muy pronto podrás conocer a nuestro talentoso equipo de colaboradores. Cada uno de ellos juega un papel fundamental en el éxito de nuestros proyectos y estamos emocionados de compartir sus historias y roles con ustedes.
                    </p>
                    <div class="social-icons">
                        <a href="#" class="disabled"><i class="bi bi-linkedin"></i></a>
                        <a href="#" class="disabled"><i class="bi bi-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
        @* <------------------------------------------> *@
        <div class="col-md-4 mb-4">
            <div class="card colaborador-card">
                <img src="~/img/colaboradores/imagenUsuario.png" class="card-img-top" alt="Colaborador 1">
                <div class="card-body">
                    <h5 class="card-title">Próximamente</h5>
                    <p class="card-role">Colaboradores</p>
                    <p class="card-text">
                        Muy pronto podrás conocer a nuestro talentoso equipo de colaboradores. Cada uno de ellos juega un papel fundamental en el éxito de nuestros proyectos y estamos emocionados de compartir sus historias y roles con ustedes.
                    </p>
                    <div class="social-icons">
                        <a href="#" class="disabled"><i class="bi bi-linkedin"></i></a>
                        <a href="#" class="disabled"><i class="bi bi-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
        @* <------------------------------------------> *@    
    </div>
</div>