{
    ViewData["Title"] = "Convenios ST UTP";
}

<link rel="stylesheet" href="~/css/stutp.css" />

<style>
    .section-text, .benefit-text {
        text-align: justify;
    }
</style>

<div class="container-fluid py-5 bg-dark text-white">
    <div class="container text-center">
        <h1 class="siutp-title">Convenios del Sindicato ST UTP</h1>
        <p class="siutp-subtitle">Conoce los convenios que el Sindicato ST UTP ha establecido para beneficiar a nuestros afiliados.</p>
    </div>
</div>

<div class="container py-5">
    <div class="mb-5">
        <h2 class="section-title">Convenio 1: Mejora en Condiciones Laborales</h2>
        <p class="section-text">
            Este convenio tiene como objetivo mejorar las condiciones laborales de nuestros afiliados, asegurando que todos los contratos y beneficios estén alineados con las normativas laborales más actualizadas, para garantizar un entorno justo y seguro para todos.
        </p>
    </div>

    <div class="mb-5">
        <h2 class="section-title">Convenio 2: Capacitación y Desarrollo Profesional</h2>
        <p class="section-text">
            En este convenio, se contempla el acceso a programas de capacitación continua y desarrollo profesional para todos nuestros miembros, con el fin de mejorar sus competencias y habilidades dentro del ámbito laboral y académico.
        </p>
    </div>

    <div class="mb-5">
        <h2 class="section-title">Convenio 3: Beneficios en Salud</h2>
        <p class="section-text">
            A través de este convenio, se ofrecen beneficios especiales relacionados con la salud, incluyendo acceso a servicios médicos privados y programas de prevención y bienestar para los afiliados del sindicato.
        </p>
    </div>

    <div class="mb-5">


        <h2 class="section-title">Convenio 4: Estabilidad y Seguridad Laboral</h2>
        <p class="section-text">
            Este convenio busca garantizar la estabilidad laboral a largo plazo de todos los trabajadores sindicalizados, promoviendo la seguridad en el empleo y la protección de los derechos de los empleados.
        </p>
    </div>

    <div class="mb-5">
        <h2 class="section-title">Convenio 5: Inclusión y Diversidad</h2>
        <p class="section-text">
            El objetivo de este convenio es promover la inclusión y la igualdad de oportunidades para todos los miembros del sindicato, sin importar su género, etnia o condición, garantizando que todos los afiliados tengan las mismas oportunidades de crecimiento.
        </p>
    </div>
</div>
