@{
    ViewData["Title"] = "Home Page";
}
<!-- presentación -->
<div class="container-fluid p-0">
    <img src="~/img/imgPresentacion.jpg" alt="Imagen de Presentación" class="img-fluid w-100">
</div>

<!-- texto -->
<div class="container mt-3 text-center">
    <p class="lead texto-description mb-3">
        La organización sindical más grande e importante por sectores en el Estado de Puebla,
        experiencia y profesionalismo en nuestras representantes.
    </p>
    <button class="btn btn-primary mb-4" onclick="location.href='#info-sindicato'">Saber más <span class="bi bi-arrow-down"></span></button>
</div>

<!-- carrusel (boletines de inf) -->
<div class="container-fluid p-0">
    <div id="carouselExampleIndicators" class="carousel slide mt-0" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/img/pruebaSlide1.png" class="d-block w-100" alt="Slide 1">
            </div>
            <div class="carousel-item">
                <img src="~/img/pruebaSlide1.png" class="d-block w-100" alt="Slide 2">
            </div>
            <div class="carousel-item">
                <img src="~/img/pruebaSlide1.png" class="d-block w-100" alt="Slide 3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<!-- noticias  -->
<div class="container mt-5">
    <h2 class="text-center">Noticias</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="~/img/imgNoticia1.jpg" class="card-img-top" alt="Noticia 1">
                <div class="card-body">
                    <h5 class="card-title">título de la noticia 1</h5>
                    <p class="card-text">resumen...</p>
                    <a href="#" class="btn btn-primary">Leer más</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="~/img/imgNoticia1.jpg" class="card-img-top" alt="Noticia 2">
                <div class="card-body">
                    <h5 class="card-title">título de la noticia 2</h5>
                    <p class="card-text">resumen...</p>
                    <a href="#" class="btn btn-primary">Leer más</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="~/img/imgNoticia1.jpg" class="card-img-top" alt="Noticia 3">
                <div class="card-body">
                    <h5 class="card-title">título de la noticia 3</h5>
                    <p class="card-text">resumen...</p>
                    <a href="#" class="btn btn-primary">Leer más</a>
                </div>
            </div>
        </div>
    </div>
    <!-- btn noticias  -->
    <div class="text-center mt-2">
        <button class="btn btn-secondary">Más noticias</button>
    </div>
</div>

<!-- inf sindicato agregar mas inf  -->

<div id="contacto" class="container-fluid py-4">
    <div class="row d-flex justify-content-between align-items-center">

        <!-- Sección de información de contacto -->
        <div class="col-md-6 text-start">
            <p><i class="bi bi-geo-alt-fill text-dark me-2"></i> República de Venezuela No. 44, 5to. Piso, Col. Centro, C.P. 06020, México, D.F.</p>
            <p><i class="bi bi-telephone-fill text-dark me-2"></i> 5704-70-00</p>
            <p><i class="bi bi-envelope-fill text-dark me-2"></i> contacto@snte.org.mx</p>
            <p><i class="bi bi-info-circle-fill text-dark me-2"></i> <a href="#" class="text-dark">Aviso de privacidad</a></p>
        </div>

        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d918.8824402582146!2d-98.15164915225458!3d19.058902377245637!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTnCsDAzJzMzLjIiTiA5OMKwMDknMDQuOSJX!5e0!3m2!1ses!2smx!4v1739221772814!5m2!1ses!2smx" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>