@{
    ViewData["Title"] = "Noticias";
}

<link rel="stylesheet" href="~/css/noticias.css" />

<style>
    .card-text, .benefit-text {
        text-align: justify;
    }
</style>

<div class="container-fluid py-5 bg-dark text-white">
    <div class="container text-center">
        <h1 class="noticias-title">Últimas Noticias</h1>
        <p class="noticias-subtitle">Mantente informado sobre las últimas novedades del sindicato.</p>
    </div>
</div>

<div class="container py-5">
    <div class="row">
        @* <------------------------------------------> *@
        <div class="col-md-6 mb-4">
            <div class="card noticia-card">
                <div class="card-img-wrapper">
                    <img src="~/img/noticias/imgNoticia1.jpg" class="card-img-top" alt="Noticia 1">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Mondelēz impuso como representante de obreros a la Federación de Sindicatos, señala FROC-Conlabor</h5>
                    <p class="card-date">Martes, abril 1, 2025</p>
                    <p class="card-text">
                        René Sánchez Juárez, líder de la FROC-Conlabor, aseguró que Mondelēz (dedicada a la producción de dulces, alimentos y bebidas) impuso como representante de los obreros a la Federación de Sindicatos “Jesús Moreno Jiménez”.
                        Indicó vía telefónica que, bajo engaños, los trabajadores votaron a favor de dicha representación gremial, a la que además señaló de haber obtenido de manera dudosa una constancia de representatividad.
                        Mencionó a La Jornada de Oriente que los aproximadamente 800 operarios que laboran en dicha empresa tienen un nuevo Contrato Colectivo de Trabajo (CCT), pero también está en duda su validez, toda vez que no se encuentra disponible en la plataforma del Centro Federal de Conciliación y Registro Laboral (CFCRL).
                    </p>
                    <a href="https://www.lajornadadeoriente.com.mx/puebla/mondelez-impuso-como-representante-de-obreros-a-la-federacion-de-sindicatos/" class="btn btn-primary" target="_blank">Leer más</a>
                </div>
            </div>
        </div>
        @* <------------------------------------------> *@
        <div class="col-md-6 mb-4">
            <div class="card noticia-card">
                <div class="card-img-wrapper">
                    <img src="~/img/noticias/imgComingSoon.png" class="card-img-top" alt="Próximamente">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Próximamente</h5>
                    <p class="card-date">Fecha de publicación pendiente</p>
                    <p class="card-text">
                        Estamos trabajando para traerte las últimas noticias y novedades. Muy pronto encontrarás aquí información relevante y actualizada. ¡Mantente atento!
                    </p>
                </div>
            </div>
        </div>
        @* <------------------------------------------> *@
        <div class="col-md-6 mb-4">
            <div class="card noticia-card">
                <div class="card-img-wrapper">
                    <img src="~/img/noticias/imgComingSoon.png" class="card-img-top" alt="Próximamente">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Próximamente</h5>
                    <p class="card-date">Fecha de publicación pendiente</p>
                    <p class="card-text">
                        Estamos trabajando para traerte las últimas noticias y novedades. Muy pronto encontrarás aquí información relevante y actualizada. ¡Mantente atento!
                    </p>
                </div>
            </div>
        </div>
        @* <------------------------------------------> *@
        <div class="col-md-6 mb-4">
            <div class="card noticia-card">
                <div class="card-img-wrapper">
                    <img src="~/img/noticias/imgComingSoon.png" class="card-img-top" alt="Próximamente">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Próximamente</h5>
                    <p class="card-date">Fecha de publicación pendiente</p>
                    <p class="card-text">
                        Estamos trabajando para traerte las últimas noticias y novedades. Muy pronto encontrarás aquí información relevante y actualizada. ¡Mantente atento!
                    </p>
                </div>
            </div>
        </div>
        @* <------------------------------------------> *@
        <div class="col-md-6 mb-4">
            <div class="card noticia-card">
                <div class="card-img-wrapper">
                    <img src="~/img/noticias/imgComingSoon.png" class="card-img-top" alt="Próximamente">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Próximamente</h5>
                    <p class="card-date">Fecha de publicación pendiente</p>
                    <p class="card-text">
                        Estamos trabajando para traerte las últimas noticias y novedades. Muy pronto encontrarás aquí información relevante y actualizada. ¡Mantente atento!
                    </p>
                </div>
            </div>
        </div>
        @* <------------------------------------------> *@
    </div>
</div>