@{
    ViewData["Title"] = "Home Page";
}

<body style="background-color: #F5F4F4; margin: 0; height: 100vh;">
    <div class="text-center" style="padding: 40px 0;">
        <h1 class="display-4">Próximamente</h1>
        <p>Estamos trabajando en esta sección. Muy pronto podrás acceder a más contenido.</p>
        <img src="~/img/error404.png" alt="Próximamente" class="img-fluid w-25 mt-4" />
    </div>
</body>
