/* Estilos generales */
.container-fluid.p-0 img {
  width: 100%;
  height: auto;
  object-fit: contain;
}


.texto-description {
  font-size: 1.25rem;
  color: #333;
  font-weight: 500;
  margin-top: 1.5rem;
}

.btn-primary {
  background-color: #007A78;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

  .btn-primary:hover {
    background-color: #005f5d;
  }

  .btn-primary .bi-arrow-down {
    margin-left: 0.5rem;
  }

/* Estilos para el carrusel */
.custom-carousel {
  width: 100%;
  max-height: 500px; /* Ajusta según necesites */
  overflow: hidden;
}



  .custom-carousel .carousel-inner,
  .custom-carousel .carousel-item,
  .custom-carousel img {
    height: auto;
    max-height: 500px; /* Ajusta la altura */
    object-fit: cover;
  }

.carousel-indicators {
  bottom: 10px; /* Ajusta la posición de los indicadores */
}

  .carousel-indicators button {
    width: 10px; /* Ajusta el tamaño de los indicadores */
    height: 10px;
    border-radius: 50%; /* Forma circular */
    background-color: #007A78; /* Color de fondo */
  }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 30px; /* Ajusta el tamaño de los íconos */
  height: 30px;
  background-color: #007A78; /* Color de fondo */
  border-radius: 50%; /* Forma circular */
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%; /* Ajusta el ancho de los controles */
}

/* Estilos para las tarjetas de noticias */
.container.mt-8 h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #007A78;
  margin-bottom: 1.5rem;
}

.text-center.mt-2 {
  margin-bottom: 2rem;
}

.card {
  border: none;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #ffffff;
  margin-bottom: 1.5rem;
}

  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }

.card-img-top {
  border-radius: 10px 10px 0 0;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 1.5rem;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007A78;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 0.9rem;
  color: #555;
}

.btn-secondary {
  background-color: #FFC552;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

  .btn-secondary:hover {
    background-color: #e0b04d;
  }

/* Estilos para la sección de contacto */
#contacto {
  background-color: #FFFFFF;
  padding: 2rem 0;
}

  #contacto p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 1rem;
  }

  #contacto a {
    color: #007A78;
    text-decoration: none;
    transition: color 0.3s ease;
  }

    #contacto a:hover {
      color: #005f5d;
    }

  #contacto iframe {
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }

#contacto {
  margin-bottom: 2rem;
}
