
.container-fluid.p-0 img {
  width: 100%; /* Ocupa todo el ancho del contenedor */
  height: auto; /* Altura automática para mantener la proporción */
  object-fit: contain; 
}

/* Texto de presentación */
.texto-description {
  font-size: 1.25rem;
  color: #333;
  font-weight: 500;
  margin-top: 1.5rem;
}

.btn-primary {
  background-color: #007A78; /* Color azul verdoso */
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

  .btn-primary:hover {
    background-color: #005f5d; /* Color azul verdoso más oscuro */
  }

  .btn-primary .bi-arrow-down {
    margin-left: 0.5rem;
  }

/* Carrusel de boletines */
.carousel-indicators button {
  background-color: #007A78; /* Color azul verdoso */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #007A78; /* Color azul verdoso */
  border-radius: 50%;
  padding: 10px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

/* Sección de noticias */
.container.mt-8 h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #007A78; /* Color azul verdoso */
  margin-bottom: 1.5rem;
}


/* Botón "Más noticias" */
.text-center.mt-2 {
  margin-bottom: 2rem; /* Agrega un margen inferior de 3rem (48px) */
}
.card {
  border: none;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #ffffff;
  margin-bottom: 1.5rem;
}

  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }

.card-img-top {
  border-radius: 10px 10px 0 0;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 1.5rem;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007A78; /* Color azul verdoso */
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 0.9rem;
  color: #555;
}

.btn-secondary {
  background-color: #FFC552; /* Color amarillo dorado */
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

  .btn-secondary:hover {
    background-color: #e0b04d; /* Color amarillo dorado más oscuro */
  }

/* Sección de contacto */
#contacto {
  background-color: #FFFFFF; /* Fondo claro */
  padding: 2rem 0;
}

  #contacto p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 1rem;
  }

  #contacto a {
    color: #007A78; /* Color azul verdoso */
    text-decoration: none;
    transition: color 0.3s ease;
  }

    #contacto a:hover {
      color: #005f5d; /* Color azul verdoso más oscuro */
    }

  #contacto iframe {
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }

/* Espacio entre el mapa y el pie de página */
#contacto {
  margin-bottom: 2rem; /* Agrega un margen inferior de 3rem (48px) */
}