body {
  font-family: Arial, sans-serif;
  background-color: #FFFFFF;
  color: #333;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

.btn-outline-primary {
  color: #007A78;
  border-color: #007A78;
  background-color: transparent;
  font-weight: bold;
}

  .btn-outline-primary:hover {
    color: white;
    background-color: #007A78;
    border-color: #007A78;
  }

  .btn-outline-primary:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 122, 120, 0.3);
  }

@media (max-width: 767.98px) {
  .navbar-toggler {
    order: 2;
    margin-left: 10px; /* Espacio entre el logo y el menú hamburguesa */
  }

  .navbar-brand.me-3 {
    order: 1;
    margin-right: 10px; /* Espacio entre el logo y el menú hamburguesa */
  }

  .navbar-collapse {
    order: 3;
  }

  /* Asegurar que el segundo logo y el menú hamburguesa estén alineados */
  .d-flex.align-items-center {
    display: flex;
    align-items: center;
  }
}

body {
  margin-bottom: 60px;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.logo-img {
  height: 60px;
  margin-right: 10px;
}

.hero-image {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.hero-img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.texto-descriptivo {
  font-weight: bold;
  color: #636156;
  font-size: 1.5rem;
}

.navbar {
  background-color: #F2C849 !important;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

  .navbar .navbar-brand img {
    height: 50px;
  }

  .navbar .nav-link {
    color: #fff !important;
    font-weight: bold;
  }

    .navbar .nav-link:hover {
      color: #333 !important;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }

.dropdown-menu {
  background-color: #F2C849;
  border: none;
  width: auto;
  display: none;
  min-width: 200px;
  max-width: 270px;
  padding: 10px;
  margin-top: 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

  .dropdown-menu.show {
    display: block;
  }

.dropdown-item {
  color: #333;
  font-weight: bold;
  padding: 8px 12px;
  display: block;
}

  .dropdown-item:hover {
    background-color: #FFD700;
    color: #000;
    border-radius: 4px;
  }

.container {
  padding-top: 20px;
}

footer {
  background-color: #F2C849;
  color: #333;
  padding: 10px 0;
  text-align: center;
  font-weight: bold;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  font-family: 'Arial', sans-serif;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
}

  footer .container {
    padding: 0;
    margin: 0;
  }

.navbar-brand.ml-auto img {
  height: 60px;
  margin-left: auto;
  margin-right: 20px;
}
